
/* 박스 제목 */
.box-name{
    padding-top: 78px;
    font-size: 35px;
    color: #333;
    text-align: center;
    font-weight: 700;
    /* 굵게 */
    height: 70px;
    


}
/* 이미지 7개 있는 박스 */
small-box {
    width: 1200px;
    margin: 0 auto;
}

/* 리스트 점 없애기 */
li{
    list-style: none;
}

/* 7개 사진 중 가장 큰 사진 */
.list-big-one{
    /* 사진의 가로100% */
    width: 100%;
    height: 589px;
}

.small-box{
    display: flex;
    justify-content: center;
}

.right{
    display: flex;
    /* margin: 10px; */
}

.right-updown{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

.big-box-1{
    margin-left: 337px;
    margin-right: 337px;
    
}


#big-poster-text1{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin: 10px 0 15px 0;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    text-align: center;
    padding: 0px 15px;
}

#big-poster-text2{
    font-size: 14px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 0px 15px;
    border-bottom: 1px solid #ddd;
}

#right-3{
    margin-left: 24px;
    margin-bottom: 15px;
}
#right-3-down{
    margin-left: 24px;
}

.small-5-box{
    
}


#small-5-box-uptext{
    font-size: 15px;
    color: #ec7d2c;
    padding: 15px 0 26px 0;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    margin: 0;

}
#small-5-box-downtext{
    font-size: 15px;
    color: #000;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;

}

.small-5-box-textbox{
    text-align: center;
    position: relative;
    padding: 0 15px;
    border: 1px solid #ddd;
    
}

.small-5-box{
    display: flex;
    justify-content: center;
    
}

/* 검정 - 만들기 */
:after{
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: #111;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.image-plus-box{
    margin: 0;
}

.more-link-box{
    display: block;
    width: 220px;
    height: 48px;
    /* 높이와 라인높이가 같아야 상자에서 가운데로 정렬됨 */
    line-height: 48px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    margin: 39px auto 0 auto;
    position: relative;
    /* 아래 2갠 뭔지 모르겠지만 있어야 상자 생김 */
    z-index: 5;
    transition: all 0.3s;

}

.tags{
    text-align: center;
    height: 68px;
}

.tags a{
    display: inline-block;
    font-size: 18px;
    margin: 0 20px;
    color: #555;

}

#small-3-box-uptext{
    line-height: 16px;
    font-size: 15px;
    color: #333;
    margin: 26px 0 13px 0;
    font-weight: bold;
    padding: 0 55px;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    text-align: center;
}

#small-3-box-downtext{
    font-size: 13px;
    color: #999;
    padding: 0 50px;
    /* 제목 길면 ...으로 표시 */
    white-space: nowrap;
    /* 특정 상자를 넘으면 자른다. */
    overflow: hidden;
    text-align: center;
}

.poster-3-text{
    display: flex;
    flex-direction: column;
}

.flexing{
    display: flex;
    justify-content: center;
}

.poster-3-text{
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    margin: 0 15px 40px 15px;
}

